@import url("./normalize.css");

:root {
  --max-width-container: 1200px;

  --color-dark-gray: #10100e;
  --color-white:     #fff;
  --color-black:     #000;
  --color-yellow:    #cccc46;

  --color-blue:        #6a83fb;
  --color-violet:      #ae72c2;
  --color-red:         #f75d83;

  --margin-list: 7px;

  --spacing-ultrasmall: 5px;
  --spacing-small:      10px;
  --spacing-ultramedium: 15px;
  --spacing-medium: 20px;
  --spacing-medium-minus: -20px;
  --spacing-large:      30px;

  --font-family-main: sans-serif;
  --font-size-header: 30px;
  --font-size-header-M: 27px;
  --font-size-root: 20px;
  --font-size-root-M: 16px;
  --font-size-subheader: 18px;
  
  --border-radius-small: 5px;

  --text-shadow-yellow:
  0 0 5px var(--color-white),
  0 0 40px var(--color-yellow);

--text-shadow-blue:
  0 0 2px var(--color-white),
  0 0 40px var(--color-blue);

--spinner-shadow-yellow: 
0 0 5px var(--color-white),
0 0 20px var(--color-yellow);

--box-shadow:
0 0 24px rgba(106, 131, 251, 0.15), 
0 0 30px rgba(106, 131, 251, 0.25), 
0 0 10px rgba(106, 131, 251, 0.1);

--theme-bgimage: url("../static/img/bg.jpg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-white);
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-root);
  background-color: var(--color-dark-gray);
  background-color: var(--color-dark-gray);
  background-image: var(--theme-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed; /*Делает фоновое изображение элемента неподвижным.*/
}

img{
  display: block;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--max-width-container);
}

.main {
  flex: 1 1 auto; /*для того чтобы футер прижать к низу*/
  margin-bottom: var(--spacing-medium);
}

.header-text {
  line-height: 1.7;
  margin: var(--spacing-medium) 0;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--color-yellow);
  transition: color 0.5s ease 0s;
}

.footer__copyright{
  margin: 0;
  padding: var(--spacing-medium) 0;
  color: var(--color-white);
  font-size: var(--font-size-root);
}

@media(max-width: 1200px){
  .container{
    max-width: 1170px;
  }
}

@media(max-width: 1171px){
  body{
    font-size: var(--font-size-root-M);
  }

  .container{
    max-width: 985px;
  }
}

@media(max-width: 986px){
  .container{
    max-width: 770px;
  }
}

@media(max-width: 771px){
  .container{
    max-width: 630px;
  }
}

@media(max-width: 631px){
  .container{
    max-width: 410px;
  }

  .header-text{
    font-size: var(--font-size-header-M);
    margin: var(--spacing-ultramedium) 0;
  }

  .footer__copyright{
    font-size: var(--font-size-root-M);
    padding: var(--spacing-ultramedium) 0;
  }
}

@media(max-width: 411px){
  .container{
    width: 300px;
    padding: 0 10px;
  }
}