.films {
  margin-left: var(--spacing-large);
  padding: var(--spacing-medium) 0;
}
.films__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.films__item {
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.films__item:not(:last-child){
  margin-bottom: var(--margin-list);
}
.films__episode {
  padding: var(--spacing-ultrasmall);
  border-radius: var(--border-radius-small);
  background-color: var(--color-red);
}
.films__colon {
  width: 20px;
  font-weight: var(--font-bold);
  text-align: center;
}
.films__title {
  text-shadow: var(--text-shadow-blue);
}

@media(max-width: 986px){
  .films {
    padding: 0;
    margin-left: 0;
    margin-top: var(--spacing-medium);
  }
}

@media(max-width: 771px){
  .films {
  margin: 0; 
  }
}

@media(max-width: 411px){
  .films__item{
    flex-direction: column;
    align-items: flex-start;
  }

  .films__item:not(:last-child){
    margin-bottom: var(--spacing-ultramedium);
  }

  .films__colon {
    display: none;
  }

  .films__episode {
    padding: 3px;
    margin-bottom: 2px;
  }
}