.video{
  margin: 0 auto;
  width: 65%;
  height: auto;
  display: block;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}

@media(max-width: 631px){
  .video{
    width: 100%;
  }
}